<h1> Log In </h1>

<%= form_with url: log_in_path  do |form| %>
  
  <div>
    <p><%= form.label :email %></p>
    <p><%= form.email_field :email, required: true %></p>
  </div>

  <div>
    <p><%= form.label :password %></p>
    <p><%= form.password_field :password, required: true %></p>
    <%= link_to "Forgot your Password?", password_reset_path %>
  </div>

  <div>
    <p><%= form.label :password_confirmation %></p>
    <p><%= form.password_field :password_confirmation, required: true %></p>
  </div>
  
  <p><%= form.submit 'Log In' %></p>
    
<% end %>