<h1> Reset Your Password </h1>

<%= form_with model: @user, url: password_reset_edit_path(token: @token) do |form| %>

  <% if form.object.errors.any? %>
  <%= puts "Errors Btich!" %>
    <div style="color: red">
      <h2><%= pluralize(form.object.errors.count, "error") %> prohibited this password from being updated:</h2>

      <ul>
        <% form.object.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <p><%= form.label :password %></p>
    <p><%= form.password_field :password, required: true %></p>
  </div>

  <div>
    <p><%= form.label :password_confirmation %></p>
    <p><%= form.password_field :password_confirmation, required: true %></p>
  </div>

  <p><%= form.submit 'Reset Password' %></p>

<% end %>