<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <%= form.file_field :profile_photo, type: "file", class: "form-control", id: "fileinputgroup" %>
    <%= form.label "Profile photo", class: "input-group-text", for: "fileinputgroup" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.email_field :email, placeholder:"#{@user.email}", class: "form-control" %>
    <%= form.label "Email address",  class: "form-label" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :first_name, placeholder: "First name", class: "form-control" %>
    <%= form.label :first_name, class: "form-label" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :last_name, placeholder: "Last name", class: "form-control" %>
    <%= form.label :last_name, class: "form-label" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.number_field :hours, placeholder: 0, class: "form-control", min: 0, max: 40 %>
    <%= form.label "Hours Available Per Week", class: "form-label" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :linkedin, class: "form-control" %>
    <%= form.label :linkedin, class: "form-label" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_area :bio, class: "form-control" %>
    <%= form.label :bio, class: "form-label" %>
  </div>

  <div>
    <%= form.submit "Update", class: "btn btn-primary" %>
  </div>
  
<% end %>
