<!-- Sets the form type for ngo within the user model and displays errors -->
<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>
      <%= form.label "Business Logo:" %>
      <%= form.file_field :profile_photo %>
    </p>
    <p>
      <%= form.label "#{:email}:" %>
      <%= form.email_field :email, value: @user.email %>
    </p>
    <p>
      <%= form.label "Business Name:" %>
      <%= form.text_field :first_name %>
    </p>
    <p>
      <%= form.label "Areas of Concern: " %>
      <%= form.text_area :bio %>
    </p>
    <p>
      <%= form.submit "Update Business" %>
    </p>
  </div>

<% end %>
