<%= form_with(model: user) do |form| %>

  <% if user.errors.any? %>
    <div style="color: red">
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <%= form.file_field :profile_photo, type: "file", class: "form-control", id: "fileinputgroup" %>
    <%= form.label "Business logo", class: "input-group-text", for: "fileinputgroup" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.email_field :email, placeholder: @user.email, class: "form-control" %>
    <%= form.label "POC Email", class: "form-label" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :first_name, class: "form-control" %>
    <%= form.label "Business Name", class: "form-label" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_area :bio, class: "form-control" %>
    <%= form.label "Areas of Concern", class: "form-label" %>
  </div>

  <div>
    <%= form.submit "Update Business", class: "btn btn-primary" %>
  </div>

<% end %>
