<div class="container-fluid w-50">

  <div class="text-center text-purple m-3 p-3">
    <h1><strong>Join as a Professional!</strong></h1>
  </div>

  <%= form_with(model: user) do |form| %>

    <% if session[:errors] != nil %>
      <div style="color: red">
        <ul>
          <% session[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
          <% session[:errors] = nil %>
        </ul>
      </div>
    <% end %>

    <div class="form-floating mb-3">
      <%= form.email_field :email, required: true, placeholder: "123@email.com", class: "form-control" %>
      <%= form.label "Email address", class: "form-label" %>
    </div>

    <div class="form-floating mb-3">
      <%= form.password_field :password, required: true, placeholder: "Password", class: "form-control" %>
      <%= form.label :password, class: "form-label" %>
    </div>

    <div class="form-floating mb-3">
      <%= form.password_field :password_confirmation, required: true, placeholder: "Password confirmation", class: "form-control" %>
      <%= form.label :password_confirmation, class: "form-label" %>
    </div>

    <div class="mb-3">
      <%= form.submit "Join Now", class: "btn btn-primary" %>
    </div>

    <div>
      <%= link_to "Back", new_user_path %>
    </div>

  <% end %>
</div>
