<div>
  <table class="table">
    <thead>
      <tr>
        <th><h1 class="text-purple" style="text-align: center">Users (<%= @users.count(!@user.ngo?) %>)</h1></th>
        <th><h1 class="text-purple" style="text-align: center">Businesses (<%= @users.count(@user.ngo?) %>)</h1></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= render "user_table" %></td>
        <td><%= render "ngo_table" %></td>
      </tr>
    <tbody>
  </table>
</div>

  <br>
  <%= link_to "New User", new_user_path(q: "user") %>
  <%= link_to "New Business", new_user_path(q: "ngo") %>
  <%= link_to "New Admin", new_user_path(q: "admin") %>