<div class="card">
  <div class="card-body">
    <h5 class="card-title"> <%= "#{@user.first_name}  #{@user.last_name}" %></h5>
    <p class="card-text"> 
      <!-- Checks if the LinkedIn link contains the http string or not and adds it if needed -->
      <% if @user.linkedin != nil %>
        <%if @user.linkedin.include? "http" %>
          <p> <%= link_to "LinkedInPage", @user.linkedin, target: "_black" %> </p>
        <% else %>
          <p> <%= link_to "LinkedIn Page", "http://#{@user.linkedin}", target: "_blank" %> </p>
        <% end %>
      <% end %>
    </p>
    <p class="card-text"> <%= @user.bio %> </p>
    <p class="card-text"> Hours available/week: <%= @user.hours %> </p>
  </div>
</div>