<p>POC Email: <%= @user.email %> </p>
<p>Business Name: <%= @user.first_name %> </p>
<p>Areas of Concern: <%= @user.bio %> </p>

<div>
  <%= link_to "Edit Business", edit_user_path(@user) %> |
  <%= link_to "Back", users_path %>

  <%= button_to "Delete Profile", @user, method: :delete, form: { data: {turbo_confirm: "Are you sure? Closed accounts cannot be recovered."} } %>
</div>