<p>Email: <%= @user.email %> </p>
<p>First name: <%= @user.first_name %> </p>
<p>Last name: <%= @user.last_name %> </p>
<p>Hours available/week: <%= @user.hours %> </p>
<% if @user.linkedin != nil %>
  <p> <%= link_to "LinkedIn Page", "http://#{@user.linkedin}", target: "_blank" %> </p>
<% end %>
<p>Bio: <%= @user.bio %> </p>