<div id="users_action_table" class="container-fluid">

  <div class="row row-cols-3 d-flex justify-content-center mt-5">

    <% @users.each do |user| if !user.admin? && !user.ngo? && profile_completed?(user) %>
      <div class="col">
        <div class="card mb-0">
          <div class="row g-0">
            <div class="col-md-4">
              <% if user.profile_photo.attached? %>
                <%= image_tag(user.profile_photo, size: "100", alt: "...", class: "rounded") %>
              <% else %>
                <%= image_tag("empty profile picture.jpg", size: "100", alt: "...", class: "rounded") %>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= "#{user.first_name} #{user.last_name}" %></h5>
                <% if !user.admin? and user.id <= 12 %>
                  <h3 class="badge rounded-pill text-bg-purple">Example</h3>
                <% end %>
                <p class="card-text text-truncate"><%= user.bio %></p>
                <%= link_to "Go To ->", user_path(user), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  </div>

</div>
