<div class="container-fluid" data-bs-spy="scroll" data-bs-target="#navbar">

    <!-- First section of homepage showing hero picture and brief synopsis of GL -->
    <div class="d-flex justify-content-evenly align-items-center p-5 bg-gradient rounded" style="background-color: purple">
        <div class="my-5 p-2">
            <h2 class="text-center pe-5 fs-2 fw-bolder text-white">We Connect Businesses In Need <br> To Professional People</h2>
            <p class="text-center p-3 pe-5 fs-5 text-white">
                GuardianLink breaks down the barrier between cybersecurity specialists
                and businesses in need of online security <strong>for free!</strong>
                Whether you're a talented professional or a business, join our community
                so we can connect you together!
            </p> 
            <div class="pe-5 d-flex justify-content-center"><%= link_to "JOIN THE COMMUNITY", new_user_path, class: "btn btn-lg btn-primary" %></div>
        </div>
    
    <%= image_tag("home hero picture.jpg", size: "850x500", alt: "GL hero image", class: "rounded-4") %>
    </div>

    <br>

    <!-- Second section of homepage showing brief hero video and pain points/solutions -->
    <div class="d-flex justify-content-evenly align-items-center my-5 p-5">

        <div id="scrollspyHeading1">
        </div>

        <%= image_tag("home hero splash.jpg", size: "750x450", alt: "GL Video synopsis", class: "rounded-4") %>
        <div class="p-3 ms-3">
            <h2 class="text-center pe-5 fs-2 fw-bolder text-purple">Can't find or afford Cybersecurity solutions? We are here to help!</h2>
            <p class="mt-4 text-purple">
                <span class="fs-5"><strong>Small or non-for-profit businesses have a hard time with their security</strong></span>. There can be many reasons
                for this, but we found that it mostly comes down to the cost of expensive tools or expensive wages for a Cybersecurity
                team. We know you're too busy paying your employees, dealing with your supply chain, or putting profits back into your business to make it
                even better. 
            </p> 
            <p class="text-purple">
                <span class="fs-5"><strong>GuardianLink provides you a with a community.</strong></span> We provide a way for volunteers 
                and businesses to connect and provide cybersecurity solutions for online security needs.
            </p>
        </div>
    </div>

    <!-- Third section of homepage showing 3 benefits of GuardianLink and what feature makes it possible -->
    <div class="d-flex justify-content-evenly align-items-center gap-5 my-5 p-5 bg-gradient rounded" style="background-color: purple">

        <div id="scrollspyHeading2">
        </div>
        
        <!-- Benefit 1 -->
        <div class="d-flex flex-column align-items-center justify-content-center">
            <%= image_tag("community_white.jpg", size: "50", alt: "Benefit 1") %>
            <h5 class="p-3 text-white"><strong>Join A Community</strong></h5>
            <p class="text-white">Work together on solving security issues</p>
        </div>

        <!-- Benefit 2 -->
        <div class="d-flex flex-column align-items-center justify-content-center">
            <%= image_tag("lock_white.jpg", size: "50", alt: "Benefit 1") %>
            <h5 class="p-3 text-white"><Strong>Cybersecurity Focused</strong></h5>
            <p class="text-white">We focus heavily on the online threat space</p>
        </div>

        <!-- Benefit 3 -->
        <div class="d-flex flex-column align-items-center justify-content-center">
            <%= image_tag("talents_white.jpg", size: "50", alt: "Benefit 1") %>
            <h5 class="p-3 text-white"><strong>Lend Your Talents</strong></h5>
            <p class="text-white">Help those in need with your unique skills</p>
        </div>

    </div>

    <!-- Fourth section of the homepage showing testimonials -->
    <div class="my-5 p-5">
        <h1 class="text-purple text-center">Testimonials<h1>
        <div class="d-flex justify-content-evenly align-items-center gap-5 my-3 p-5">
            <div id="scrollspyHeading3">
            </div>
            <!-- Testimonal 1 card from Cameron Thain -->
            <div class="d-flex flex-column align-items-center justify-content-center w-50">
                <p class="fs-4 text-center text-purple">"I run a non-for-profit immigration company. Before using GuardianLink, I had a really hard time
                    paying to keep my client's data secure. Now, I have a team of talented people that manage my cybersecurity for me for free. I wouldn't
                    still have my company if it wasn't for GuardianLink."
                </p>
                <div>
                    <%= image_tag("cameron thain.jpg", size: "50", alt: "Benefit 1", class: "rounded-circle") %>
                    <h5 class="d-inline-block align-text-center text-purple">Cameron Thain</h5>
                </div>
            </div>

            <!-- Testimonal 2 card from Val Butross-->
            <div class="d-flex flex-column align-items-center justify-content-center w-50">
                <p class="fs-4 text-center text-purple">"I am part of a website security team. When I need to make sure that I'm following
                    the the industry's best practices and my small team is too busy, I reach out to other professionals on GuardianLink for help. 
                    No matter what my issue is, I can always find someone that can help!"
                </p>
                <div>
                    <%= image_tag("val butross.jpg", size: "50", alt: "Benefit 1", class: "rounded-circle") %>
                    <h5 class="d-inline-block align-text-center text-purple">Val Butross</h5>
                </div>
            </div>

            <!-- Testimonial 3 card from Andrew Vollhoffer-->
            <div class="d-flex flex-column align-items-center justify-content-center w-50">
                <p class="fs-4 text-center text-purple">"I recently became a CSSLP, but I wasn't able to find any jobs because of my lack of experience.
                    After joining GuardianLink and helping a few companies introduce best practices for secure software development, I finally had 
                    real experience to add to my resume. Now I work for NASA."
                </p>
                <div>
                    <!-- Not rounded because source already is -->
                    <%= image_tag("me.jpg", size: "50", alt: "Benefit 1") %>
                    <h5 class="d-inline-block align-text-center text-purple">Andrew Vollhoffer</h5>
                </div>
            </div>

        </div>
    </div>

    <!-- Fifth section of the homepage listing all the actual features that GuardianLink provides both regulard and NGO users (optional) -->
    <div>
    </div>

    <!-- Sixth section of the homepage showing a FAQ list including text and video answers (Optional) -->

    <!-- Seventh and last section of the homepage showing the same simple call to action as the top of the page -->
    <div class="d-flex flex-column justify-content-center align-items-center gap-3 mt-5 p-5 bg-gradient rounded" style="background-color: purple">
        <h1 id="scrollspyHeading4" class="fs-0 text-center text-white">Ready to Join the GuardianLink Community?</h1>
        <div class="grid column-gap-3">
            <%= link_to "Join as Specialist", new_user_path(q: "user"), class: "btn btn-primary btn-lg me-5" %>
            <%= link_to "Join as Business", new_user_path(q: "ngo" ), class: "btn btn-primary btn-lg" %>
        </div>
    </div>

</div>