<h1>Users</h1>

<div id="users_table">
  <table class="table table-striped table-hover">
    <thead class="table table-grey">
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Hours/week</th>
        <th>Last Update</th>
        <th></th>
        <th></th>
      </tr>
    <tbody class="table-group-divider">
      <% @users.each do |user| %>
        <tr>
          <td> <%= user.email %> </td>
          <td> <%= user.first_name %> </td>
          <td> <%= user.last_name %> </td>
          <td> <%= user.hours %> </td>
          <td> <%= user.updated_at %> </td>
          <td> <%= link_to "Show", user %> </td>
          <td> <%= button_to 'Delete', user, method: :delete %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<%= link_to "New user", new_user_path %>
