<h1 style="text-align: center">Users</h1>

<div id="users_table">
  <table class="table table-striped table-hover">
    <thead class="table table-grey">
      <tr>
        <th>Email</th>
        <th>Business</th>
        <th>Last Update</th>
        <th></th>
        <th></th>
      </tr>
    <tbody class="table-group-divider">
      <% @users.each do |user| %>
        <tr>
          <% if user.admin?%> 
            <td> <strong><u> <%= user.email %> </strong></u> </td>
          <% else %>
            <td> <%= user.email %> </td>
          <% end %> </td>
          <td> <%= user.ngo %> </td>
          <td> <%= user.updated_at %> </td>
          <td> <%= link_to "Show", user %> </td>
          <td> <%= button_to 'Delete', user, method: :delete %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<%= link_to "New user", new_user_path %>
