<% if params[:q] == nil %>
  <div class="d-flex justify-content-evenly">
  <%= link_to "Join as Specialist", new_user_path(q: "user"), class: "btn btn-primary btn-lg" %>
  <%= link_to "Join as Business", new_user_path(q: "ngo" ), class: "btn btn-primary btn-lg" %>
  </div>
<% end %>

<% if params[:q] == "user" %>
  <%= render "form_new_user", user: @user %>
<% elsif params[:q] == "ngo" %>
  <%= render "form_new_ngo", user: @user %>
<% elsif params[:q] == "admin" && current_user != nil && current_user.admin? %>
  <%= render "form_new_admin", user: @user %>
<% end %>

<br>

<% if user_signed_in? %>
  <%= link_to "Back", users_path %>
<% elsif params[:q] != nil %>
  <%= link_to "Back", new_user_path %>
<% end %>
