<% if current_user == @user && !current_user.admin? && !profile_completed?(@user) && current_page?(user_path) %>
  <% flash[:alert] = "Complete your profile to become searchable!" %>
<% end %>

<!-- Main page container -->
<div class="container-fluid ">

  <!-- Profile page content container -->
  <div class="d-flex justify-content-center p-3">

    <!-- Picture and email button container -->
    <div class="d-flex flex-column justify-content-center align-items-center m-1 p-1">
      <% if @user.profile_photo.attached? %>
        <%= image_tag(@user.profile_photo, size: "100", alt: "...", class: "rounded-circle") %>
      <% else %>
        <%= image_tag("empty profile picture.jpg", size: "100", alt: "...", class: "rounded-circle") %>
      <% end %>

      <% if current_user != @user %>
        <%= mail_to "#{@user.first_name} #{@user.last_name} <#{@user.email}>", "Email Me", class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  
    
    <!-- User card container -->
    <div>
      <% if @user.ngo? %>
        <%= render "show_ngo" %>
      <% else %>
        <%= render "show_user" %>
      <% end %>
    </div>

  </div>

  <div class="m-3 text-center"><%= link_to "Back to Connections", users_path %></div>

  <% if current_user == @user %>

    <div class="text-center text-purple m-3 p-3">
      <h1>Account Details</h1>
    </div>

    <!-- Account details container -->
    <div class="d-flex flex-column justify-content-center align-items-center p-2">
      <div class="border">
        <% if !current_user.ngo? %>
          <div class="border p-2"> <%= "Email: #{@user.email}"%> </div>
          <div class="border p-2"> <%= "First name: #{@user.first_name}"%> </div>
          <div class="border p-2"> <%= "Last name: #{@user.last_name}"%> </div>
          <div class="border p-2"> <%= "LinkedIn: #{@user.linkedin}"%> </div>
        <% else %>
          <div class="border p-2"> <%= "Email: #{@user.email}"%> </div>
          <div class="border p-2"> <%= "Business name: #{@user.first_name}"%> </div>
        <% end %>
        </div>
      </div>

    <div class="d-flex flex-column justify-content-center align-items-center p-2">
      <%= link_to "Edit Profile", edit_user_path(@user) %>
      <%= link_to "Change Password", edit_password_path %>  
    </div>


    <!-- Close account container with card and confirm dialog -->
    <div class="d-flex justify-content-center m-2 p-2" data-turbo="true">
      <div class="card w-50">
        <div class="card-header" style="color: red">
          Close Account
        </div>
        <div class="card-body">
          <p class="card-text">We hope you'll reconsider as we continue to improve our service.</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete-modal">
            Close Account
          </button>
        </div>
      </div>
    </div>
  
    <!-- Modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="delete-modalLabel" style="color: red"><strong>Are You Sure?</strong></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Closed accounts <strong>cannot</strong> be recovered.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <%= button_to "Delete Account", @user, method: :delete, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>

  <% end %>

</div>