<h1>Account Details</h1>

<% if current_user == @user && !profile_completed?(@user) %>
  <% flash[:notice] = "Complete your profile to become searchable!" %>
<% end %>

<% if @user.profile_photo.attached? %>
  <%= image_tag(@user.profile_photo, size: "100", alt: "...", class: "rounded-circle") %>
<% else %>
  <%= image_tag("empty profile picture.jpg", size: "100", alt: "...", class: "rounded-circle") %>
<% end %>

<% if current_user != @user %>
  <%= mail_to "#{@user.first_name} #{@user.last_name} <#{@user.email}>", "Email Me", class: "btn btn-outline-primary" %>
<% end %>

<% if @user.ngo? %>
  <%= render "show_ngo" %>
<% else %>
  <%= render "show_user" %>
<% end %>

<% if current_user == @user || current_user.admin? %>
  <div>
    <%= link_to "Edit Profile", edit_user_path(@user) %>
    <% if @user == current_user || current_user.admin? %>
      <%= link_to "Change Password", edit_password_path %>
    <% end %>
  </div>
    <%= link_to "Connections", users_path %>
    <%= button_to "Delete Me", @user, method: :delete, form: { data: {turbo_confirm: "Are you sure? Closed accounts cannot be recovered."} } %>
<% else %>
  <%= link_to "Back", users_path %>
<% end %>
