<h1> Change Password </h1>

<%= form_with model: current_user, url: edit_password_path do |form| %>

  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(form.object.errors.count, "error") %> prohibited password from being updated:</h2>
      <ul>
        <% form.object.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p><%= form.label "Current Password" %></p>
    <p><%= form.password_field :password_challenge %></p>
  </div>

  <div>
    <p><%= form.label :password %></p>
    <p><%= form.password_field :password, required: true %></p>
  </div>

  <div>
    <p><%= form.label :password_confirmation %></p>
    <p><%= form.password_field :password_confirmation, required: true %></p>
  </div>
    
  <p><%= form.submit 'Update Password' %></p>
    
<% end %>

<%= link_to "Back", current_user %>