<nav id="navbar" class="navbar sticky-top border bg-gradient" style="background-color: white">
  <div class="container-fluid">

    <!-- GuardianLink logo and text box -->
    <div>
      <%= link_to image_tag("guardianlink_brand.jpg", alt: "GL Logo", class: "navbar-brand"), user_signed_in? ? users_path : root_path  %>
      <!-- <span id="brand-text" class="d-inline-block align-text-top fs-3" style="color: purple">GuardianLink</span> -->
    </div>

    <!-- Scrollspy active elements for homepage nav -->
    <% if current_page?(root_path) && !user_signed_in? %>
      <div class="d-none d-md-block">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-purple" href="#scrollspyHeading1">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-purple" href="#scrollspyHeading2">Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-purple" href="#scrollspyHeading3">Testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-purple" href="#scrollspyHeading4"><strong>Join</strong></a>
          </li>
        </ul>
      </div>
    <% elsif user_signed_in? %>
      <div class="d-none d-md-block">
        <span style="color: red"><strong>Next database restart: 01 September 2024</strong></span>
      </div>
    <% end %>

    <!-- Profile image box -->
    <% if user_signed_in? %>
      <div class="nav-item dropstart">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <% if current_user.profile_photo.attached? %>
            <%= image_tag(current_user.profile_photo, size: "40", alt: "Profile Picture", class: "rounded-circle") %> </a>
          <% else %>
            <%= image_tag("empty profile picture.jpg", size: "40", alt: "Empty Profile Picture", class: "rounded-circle") %>
          <% end %>
        </a>
        <ul class="dropdown-menu">
          <!-- Dropdown menu content with user email or name and log out button -->
          <div>
            <% if current_user.first_name != nil && !current_user.first_name.empty? %>
              <% if current_user.ngo? %>
                <li class="text-center"><strong><%= current_user.first_name %></strong>
              <% else %>
                <li class="text-center"><strong><%= "#{current_user.first_name} #{current_user.last_name}" %></strong>
              <% end %>
            <% else %>
              <li class="text-center text-truncate"><strong><%= current_user.email %></strong>
            <% end %>
            <li class="dropdown-divider"></li>
            <li> <%= link_to 'Profile', user_path(current_user), class: "dropdown-item text-center" %> </li>
            <li><%= button_to 'Log Out', log_out_path(current_user), method: :delete, class: "dropdown-item text-center" %> </li>
          </div>
        </ul>
      <% else %>
        <% if !current_page?(log_in_path) && !user_signed_in? %>
          <!-- Log in/Get started buttons on homepage box -->
          <div>
            <%= link_to "Log In", log_in_path, class: "btn btn-primary" %>
            <%= link_to "Get Started", new_user_path, class: "btn btn-primary btn-lg" if !current_page?(new_user_path) %>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</nav>