<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid .mx-auto" style="width: 200px">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Profile
        </a>
         <ul class="dropdown-menu">
            <li> 
                <% if user_signed_in? %>
                  <%= link_to 'Profile', user_path(@_current_user) %>
                  <%= button_to 'Log Out', log_out_path(@_current_user), method: :delete %>
                <%  else %>
                  <%= link_to 'Log In', log_in_path  %>
                  <li><hr class="dropdown-divider"></li>
                  <%= link_to 'Sign Up', new_user_path %>
                <% end %> 
            </li>
        </ul>
        <li class="nav-item">
            <%= link_to "GL", root_path  %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link disabled dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Messages
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>